:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #982b9c;
    --color-scondary: #5f196d;
    --color-dark: #490f5a;
    --color-bg: #21042d;

    /* Fonts */
    --font-robot: "Roboto";
    
}